@import './css/card-section.css';

body {
    background: lightgray;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.kb-spacer {
    flex: 1 0 auto;
}

.kb-header {
    display: flex;
    width: 100%;
    min-height: 80px;
    background: #2d3943;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    height: 80px;
}

.kb-header .kb-header-brand {
    display: flex;
    color: white;
}


@media screen and (max-width: 750px) {
    .kb-header {
        flex-direction: column;
        width: 100%;
        height: unset;

    }

    .kb-header .kb-header-brand h1 {
        font-size: 1.5rem;
    }
}



.kb-header .kb-header-nav {
    display: flex;
    justify-content: right;
}

.kb-header .kb-header-nav>* {
    margin-left: 15px;
}


.kb-footer {
    display: flex;
    width: 100%;
    height: 200px;
    background: #414e58;
    color: white;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.kb-input {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

.kb-select {
    padding: 8px;
    border-radius: 5px;
}

.kb-root {
    padding: 20px 15px;
}

.kb-action-section {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.kb-btn {
    border-radius: 5px;
    padding: 6px 12px;
    display: inline-block;
    border: 1px solid gray;
    font-size: 14px;
    line-height: 1.5;
    background-color: white;
    cursor: pointer;
}

.kb-btn:hover {
    background-color: #e0e0e0;
}

.kb-btn:disabled {
    background-color: #e0e0e0;
}

.kb-btn-link {
    padding: 6px 12px;
    display: inline-block;
    border: none;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    background: transparent;
}

.kb-btn-link:hover {
    color: blue;
}

.kb-btn-link:disabled {
    color: gray;
}

.kb-add-confirm-section {
    display: flex;
    justify-content: flex-end;
}

.kb-add-section {
    width: 100%;
    max-width: 400px;
}

.kb-add-card-name {
    width: 100%;
}

.kb-flex,
.kb-flex-row {
    width: 100%;
    display: flex;
}

.kb-flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kb-add-btn-section {
    margin: 5px 0;
}

.kb-btn-blue {
    background-color: #0052cc;
    color: white;
}

.kb-btn-blue:hover {
    background-color: #0047B3;
    border-color: #0047B3;
}

.kb-task-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #2d3943;
    margin: 15px;
    border-radius: 5px;
    background: white;
}
.kb-task-card >*{
    padding: 5px;
}

.kb-task-card:hover {
    background-color: lightgray;
}